---
import { subheadingText, genres, stories } from "../consts/dischordiansaga";
import { StoryTiles } from '../components/index.js';
---
<div class="flex flex-col font-pt-serif-caption space-y-4 m-4 p-2">
    <div class="flex flex-row items-center space-x-2">
        <img src="/assets/CoNexusV1/buttons/BackArrow.png" class="h-16" alt="back_button"/>
        <h1 class="text-6xl font-bold h-16"> The Dischordian Saga </h1>
    </div>
    <p class="text-base">{subheadingText}</p>
    <StoryTiles />
</div>


