---
import ConexusTiles from "../components/ConexusTiles.astro"
import { menuText, subHeading, footerText } from "../consts/conexus"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption:wght@400;700&display=swap">
		<meta name="generator" content={Astro.generator} />
		<title>CoNexus V1</title>
	</head>
	<body>
		<div class="flex flex-col space-y-4 px-10 font-pt-serif-caption">
			<h1 class="text-6xl text-center"> CoNexus </h1>
			<p class="text-3xl"> {subHeading} </p>
			<p class="text-base"> {menuText} </p>
			<ConexusTiles /> 
			<p class="text-base"> {footerText} </p>
		</div>
	</body>
</html>
