---
import AnimateTile from "./AnimateTile.svelte"
---
<div class="flex flex-row">
  <AnimateTile
      id="Collabs"
      primaryImage="/assets/CoNexusV1/Collabs/Collabs-1.png" 
      secondaryImage="/assets/CoNexusV1/Collabs/Collabs-2.png" 
      alt="Collabs" 
      isLink={true}
  />
  <AnimateTile 
    id="CommunityPicks" 
    primaryImage="/assets/CoNexusV1/CommunityPicks/Community-1.png" 
    secondaryImage="/assets/CoNexusV1/CommunityPicks/Community-2.png" 
    alt="CommunityPicks" 
    isLink={true}
  />
  <AnimateTile
    id="DischordianSaga" 
    primaryImage="/assets/CoNexusV1/DischordianSaga/Saga-1.png" 
    secondaryImage="/assets/CoNexusV1/DischordianSaga/Saga-2.png" 
    alt="DischordianSaga" 
    isLink={true}
  />
</div>
