---
import Tile from "./tile.astro"
---
<div class="flex flex-row">
  <Tile 
    primaryImage="/assets/CoNexusV1/Collabs/Collabs-1.png" 
    secondaryImage="/assets/CoNexusV1/Collabs/Collabs-2.png" 
    alt="Collabs" 
    route="Collabs"
  />
  <Tile 
    primaryImage="/assets/CoNexusV1/CommunityPicks/Community-1.png" 
    secondaryImage="/assets/CoNexusV1/CommunityPicks/Community-2.png" 
    alt="CommunityPicks" 
    route="CommunityPicks"
  />
  <Tile 
    primaryImage="/assets/CoNexusV1/DischordianSaga/Saga-1.png" 
    secondaryImage="/assets/CoNexusV1/DischordianSaga/Saga-2.png" 
    alt="DischordianSaga" 
    route="DischordianSaga"
  />
</div>
