---
---
  <div class="flex flex-row space-x-2">
      <a href="/CoNexus"> 
        <img src="/assets/CoNexusV1/buttons/BackArrow.png" class="h-16" alt="back_button"/>
      </a>
      <slot name="header">
  </div>
  <slot name="subheading">
  <slot name="content">


